:root {
    --theme: #f5dbe8;
    --bodyfont: #6d6875;
    --button: #8BE0D5;
    --buttonfont: #efefd0;
    --cardbkg: #efefd0;
}
header {
    padding: 40px;
    
  }
nav {
    display: flex;
    background-color: #2ecaf1;
    flex-direction: row;
    justify-content: end;
  }
nav a {
    color: #000000;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  nav a:hover { color : #f51ec6; }

body {
    background-color: var(--theme);
    color: var(--bodyfont);
}

img {
    border-radius: 5px;
    margin-bottom: 1em;
}

.header {
    border-bottom: 5px solid var(--bodyfont);
}

.result-container {
    background-color: var(--cardbkg);
    border: 5px solid var(--bodyfont);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.divList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}

.mal-link {
    margin: 5px;
    float: right;
}