:root {
    --bkgcolor: #F5DBE8;
    --bodyfont: #6D6875;
    --accent: #8BE0D5;
    --buttonfont: #EFEFD0;
    --cardbkg: #EFEFD0;
    --linkhover: #DC9BBA
}

* {
    margin: 0px;
    padding: 0px; 
}
html {
    height: 100%;
}

header {
    padding: 40px;
    
  }

nav {
    display: flex;

    background-color: var(--accent);

    flex-direction: row;
    justify-content: end;
    width: 100%;
    margin: 0;
    font-weight: bold;
  }

nav a {
    color: var(--bodyfont);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  nav a:hover { 
    color: var(--linkhover); 
}

body {
    background-color: var(--bkgcolor);
    color: var(--bodyfont);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

img {
    border-radius: 5px;
    margin-bottom: 1em;
}

a:link {
    color: var(--bodyfont);
    font-weight: bold;
}

a:hover {
    color: var(--linkhover);
    font-weight: bold;
}

.container1 {
    max-width: none;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    padding-bottom: 0px;
  }
  .container2{
    width: auto;
  }

.container3 {
    max-width: none;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 0px;
  }

.header {
   border-bottom: 5px solid var(--bodyfont);
}

.container .is-fluid {
   padding: 0px;
}

.result-container {
    background-color: var(--cardbkg);
    border: 5px solid var(--bodyfont);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.result-button {
    background-color: var(--accent);
    color: var(--bodyfont);
    font-weight: bold;
}

.result-button:hover {
    color: var(--linkhover);
}

.divList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}

.mal-link {
    margin: 5px;
    float: right;
}

.result-title {
    color: var(--bodyfont);
    font-weight: bold;
}

.favorites {
    padding-left: 3em;
    font-weight: bold;
}

.favorites-card {
    margin: 30px;
}

.favorites-list {
    text-align: center;
    color: var(--bodyfont);
    font-weight: bold;
    font-size: 2em;
}

.image {
    padding-left: 32px;

}
.subtitle {
    padding-left: 32px;
}

h1 {
    text-align: center;
}
.paragraph {
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  .about-us-container {
    width: 80%; 
    margin: 0 auto; 
    background-color: #DC9BBA; 
    padding: 20px; 
    border: 1px solid #6D6875;
    font-size: 32px; 
    margin-top: 75px;
    margin-bottom: 75px;
    margin-right: auto;
    margin-left: auto;
  }
  .about-us-container h1 {
    color: #000000;
    font-size: 60px;
  }
  .about-us-container p{
    color: #000000;
    font-size: 20px;
  }
  #background-container {
    background-image: url("./images/cherry-fake.jpg"); 
    background-repeat: repeat; 
    background-size: cover;
    height: 100%; 
  }
.footer {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    padding-bottom: 15px;
    padding-top: 5px;
}

