:root {
    --theme: #f7c59f;
    --bodyfont: #6d6875;
    --button: #004e89;
    --buttonfont: #efefd0;
}

body {
    background-color: var(--theme);
    color: var(--bodyfont);
}

.header {
    border-bottom: 5px solid var(--bodyfont);
}

#animanga {
    font-family: "Russo One", sans-serif;
    color: #ff6b35;

}

.result-container {
    background-color: gray;
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
}

.divList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mal-link {
    margin: 5px;
    float: right;
}