:root {
    --theme: #f7c59f;
    --bodyfont: #6d6875;
    --button: #004e89;
    --buttonfont: #efefd0;
    --cardbkg: #efefd0;
}
header {
    padding: 40px;
    text-align: center;
    background: #d370ce;
    color: rgb(0, 0, 0);
    font-weight: bold ;
    
  }
nav {
    display: flex;
    background-color: #22c8f1;
    flex-direction: row;
    justify-content: end;
  }
nav a {
    color: #000000;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
body { 
    background-color: dimgray;
  }

body {
    background-color: var(--theme);
    color: var(--bodyfont);
}

.header {
    border-bottom: 5px solid var(--bodyfont);
}

#animanga {
    font-family: "Russo One", sans-serif;
    color: #ff6b35;

}

.result-container {
    background-color: var(--cardbkg);
    border: 5px solid var(--bodyfont);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.divList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}

.mal-link {
    margin: 5px;
    float: right;
}