:root {
    --bkgcolor: #F5DBE8;
    --bodyfont: #6D6875;
    --accent: #8BE0D5;
    --buttonfont: #EFEFD0;
    --cardbkg: #EFEFD0;
    --linkhover: #DC9BBA
}

header {
    padding: 40px;
    
  }

nav {
    display: flex;
    background-color: var(--accent);
    flex-direction: row;
    justify-content: end;
    width: 100%;
    margin: 0;
    font-weight: bold;
  }

nav a {
    color: var(--bodyfont);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  nav a:hover { 
    color: var(--linkhover); 
}

body {
    background-color: var(--bkgcolor);
    color: var(--bodyfont);
}

img {
    border-radius: 5px;
    margin-bottom: 1em;
}

.container1 {
    max-width: none;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    padding-bottom: 0px;
  }

.container2 {
    max-width: none;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
  }

.header {
   border-bottom: 5px solid var(--bodyfont);
}

.container .is-fluid {
   padding: 0px;
}

.result-container {
    background-color: var(--cardbkg);
    border: 5px solid var(--bodyfont);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.divList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}

.mal-link {
    margin: 5px;
    float: right;
}

.favorites {
    padding-left: 3em;
}

.image {
    padding-left: 32px;

}
.subtitle {
    padding-left: 32px;
}